@import './variables';
@import './mixins.scss';
@import './common.scss';
@import './fonts.scss';
@import './icomoon.scss';

:root {
    --primary-backgroundcolor: #4ea0a2;
    --secondary-backgroundcolor: #fcaf17;
    --hollow-backgroundcolor: #ffffff;
    --dark-backgroundcolor: #444444;
    --danger-backgroundcolor: #bf2d38;
    --light-text-color: #ffffff;
    --dark-text-color: #444444;
    --subtex-color:#BDC7C9;
    --links-color:#0079A7;
  
    --hover-primary-backgroundcolor: #83bdbe;
    --hover--secondary-backgroundcolor: #fcb72e;
    --hover--hollow-backgroundcolor: #f4f4f4;
    --hover--dark-backgroundcolor: #575757;
    --hover--red-backgroundcolor: #c5424c;

    --information: #09739A;
    --success: #04923f;
    --warning: #e0ab0a;
    --danger: #f2570a;
    --information: #CCEFFC;

    --small:20%;
    --medium:50%;
    --large:100%;

    --Bodytext: #444444;
		
		--Links: #0079A7;
		--Error: #BF2D38;
		--Warning: #FCAF17;
		--Primary: #ffffff;

    /* Heading font sizes */
    --h-1: 3rem; 
    --h-2: 2.5rem; 
    --h-3: 2rem; 
    --h-4: 1.75rem; 
    --h-5: 1.5rem; 
    --h-6: 1.375rem; 
    --BodyLarge:1.25rem;
    --Body:1rem;
    --Body2:0.875rem;
    --ssmall:0.8125rem;
    --xSmall:0.75rem;
    --CAPTION:0.625rem;

    /* Font weights */
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
    --font-caption: 0.625; 
    --font-xs: 0.75rem; 
    --font-sm: 0.8125rem; 
    --font-body: 0.875rem; 
    --font-md: 1rem; 
    --font-lg: 1.125rem; 
    --font-xlg: 1.5rem; 
  
}
