[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon', sans-serif !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		font-size: 1.25rem;
	}
}

.icon-logout_02:before {
	content: '\e900';
}
.icon-chevron-left-light:before {
	content: '\e901';
}
.icon-chevron-right-light:before {
	content: '\e902';
}
.icon-chevron-square-down-light:before {
	content: '\e903';
}
.icon-chevron-square-left-light:before {
	content: '\e904';
}
.icon-chevron-square-right-light:before {
	content: '\e905';
}
.icon-dropdown-light-mode:before {
	content: '\e906';
}
.icon-Group-4196 .path1:before {
	content: '\e907';
	color: rgb(85, 88, 90);
}
.icon-Group-4196 .path2:before {
	content: '\e988';
	margin-left: -1em;
	color: rgb(85, 88, 90);
	opacity: 0.497;
}
.icon-Group-4584 .path1:before {
	content: '\e908';
	color: rgb(85, 88, 90);
}
.icon-Group-4584 .path2:before {
	content: '\e909';
	margin-left: -1em;
	color: rgb(85, 88, 90);
	opacity: 0.497;
}
.icon-Group-4587:before {
	content: '\e90a';
	color: #55585a;
}
.icon-icon-cheverons-left-light:before {
	content: '\e90b';
}
.icon-icon-cheverons-right-light:before {
	content: '\e90c';
}
.icon-icon-circle-right-light:before {
	content: '\e90d';
}
.icon-icon-cricle-left-light:before {
	content: '\e90e';
}
.icon-icon-light-aert:before {
	content: '\e90f';
}
.icon-icon-light-alarm:before {
	content: '\e910';
}
.icon-icon-light-alert:before {
	content: '\e911';
}
.icon-icon-light-arrow-down:before {
	content: '\e912';
}
.icon-icon-light-attach:before {
	content: '\e913';
}
.icon-icon-light-bar-chart:before {
	content: '\e914';
}
.icon-icon-light-beer:before {
	content: '\e915';
}
.icon-icon-light-bell-off:before {
	content: '\e916';
}
.icon-icon-light-bell:before {
	content: '\e917';
}
.icon-icon-light-bookmark:before {
	content: '\e918';
}
.icon-icon-light-bright:before {
	content: '\e919';
}
.icon-icon-light-brightness:before {
	content: '\e91a';
}
.icon-icon-light-calculator:before {
	content: '\e91b';
}
.icon-icon-light-calendar-alt:before {
	content: '\e91c';
}
.icon-icon-light-calendar:before {
	content: '\e91d';
}
.icon-icon-light-camera:before {
	content: '\e91e';
}
.icon-icon-light-car:before {
	content: '\e91f';
}
.icon-icon-light-chat:before {
	content: '\e920';
}
.icon-icon-light-check:before {
	content: '\e921';
}
.icon-icon-light-clipboard:before {
	content: '\e922';
}
.icon-icon-light-clock:before {
	content: '\e923';
}
.icon-icon-light-close-circle:before {
	content: '\e924';
}
.icon-icon-light-close:before {
	content: '\e925';
}
.icon-icon-light-code:before {
	content: '\e926';
}
.icon-icon-light-cog:before {
	content: '\e927';
}
.icon-icon-light-cogs:before {
	content: '\e928';
}
.icon-icon-light-coin:before {
	content: '\e929';
}
.icon-icon-light-compass:before {
	content: '\e92a';
}
.icon-icon-light-credit-card:before {
	content: '\e92b';
}
.icon-icon-light-document-alt:before {
	content: '\e92c';
}
.icon-icon-light-document:before {
	content: '\e92d';
}
.icon-icon-light-download:before {
	content: '\e92e';
}
.icon-icon-light-external-link:before {
	content: '\e92f';
}
.icon-icon-light-eye-close:before {
	content: '\e930';
}
.icon-icon-light-eye:before {
	content: '\e931';
}
.icon-icon-light-files:before {
	content: '\e932';
}
.icon-icon-light-filter:before {
	content: '\e933';
}
.icon-icon-light-flag:before {
	content: '\e934';
}
.icon-icon-light-folder-open:before {
	content: '\e935';
}
.icon-icon-light-folder:before {
	content: '\e936';
}
.icon-icon-light-glass-full:before {
	content: '\e937';
}
.icon-icon-light-glass-empty:before {
	content: '\e938';
}
.icon-icon-light-gps:before {
	content: '\e939';
}
.icon-icon-light-grid:before {
	content: '\e93a';
}
.icon-icon-light-hamburger:before {
	content: '\e93b';
}
.icon-icon-light-heart:before {
	content: '\e93c';
}
.icon-icon-light-help:before {
	content: '\e93d';
}
.icon-icon-light-history:before {
	content: '\e93e';
}
.icon-icon-light-home-filled:before {
	content: '\e93f';
}
.icon-icon-light-home:before {
	content: '\e940';
}
.icon-icon-light-hourglass:before {
	content: '\e941';
}
.icon-icon-light-id-card:before {
	content: '\e942';
}
.icon-icon-light-inbox:before {
	content: '\e943';
}
.icon-icon-light-info:before {
	content: '\e944';
}
.icon-icon-light-internal-link:before {
	content: '\e945';
}
.icon-icon-light-key:before {
	content: '\e946';
}
.icon-icon-light-lightbulb:before {
	content: '\e947';
}
.icon-icon-light-llink:before {
	content: '\e948';
}
.icon-icon-light-location:before {
	content: '\e949';
}
.icon-icon-light-lock-open:before {
	content: '\e94a';
}
.icon-icon-light-lock:before {
	content: '\e94b';
}
.icon-icon-light-mail-open:before {
	content: '\e94c';
}
.icon-icon-light-mail:before {
	content: '\e94d';
}
.icon-icon-light-map:before {
	content: '\e94e';
}
.icon-icon-light-message-writing:before {
	content: '\e94f';
}
.icon-icon-light-messages:before {
	content: '\e950';
}
.icon-icon-light-messge-alt:before {
	content: '\e951';
}
.icon-icon-light-minus-circle:before {
	content: '\e952';
}
.icon-icon-light-minus-square:before {
	content: '\e953';
}
.icon-icon-light-minus:before {
	content: '\e954';
}
.icon-icon-light-moon:before {
	content: '\e955';
}
.icon-icon-light-more-horizontal:before {
	content: '\e956';
}
.icon-icon-light-more-vertical:before {
	content: '\e957';
}
.icon-icon-light-mug:before {
	content: '\e958';
}
.icon-icon-light-newsletter:before {
	content: '\e959';
}
.icon-icon-light-notes:before {
	content: '\e95a';
}
.icon-icon-light-pencil:before {
	content: '\e95b';
}
.icon-icon-light-pie-chart-alt:before {
	content: '\e95c';
}
.icon-icon-light-pie-chart:before {
	content: '\e95d';
}
.icon-icon-light-pin-alt:before {
	content: '\e95e';
}
.icon-icon-light-pin:before {
	content: '\e95f';
}
.icon-icon-light-plus-circle:before {
	content: '\e960';
}
.icon-icon-light-plus-square:before {
	content: '\e961';
}
.icon-icon-light-plus:before {
	position: relative;
	right: 4px;
	content: '\e962';
	font-size: 0.875rem;
	font-weight: 600;
}
.icon-icon-light-pocket-watch:before {
	content: '\e963';
}
.icon-icon-light-print:before {
	content: '\e964';
}
.icon-icon-light-redo:before {
	content: '\e965';
}
.icon-icon-light-refrsh:before {
	content: '\e966';
}
.icon-icon-light-rocket:before {
	content: '\e967';
}
.icon-icon-light-save:before {
	content: '\e968';
}
.icon-icon-light-search-folder:before {
	content: '\e969';
}
.icon-icon-light-search:before {
	content: '\e96a';
}
.icon-icon-light-share-alt:before {
	content: '\e96b';
}
.icon-icon-light-share:before {
	content: '\e96c';
}
.icon-icon-light-sheild-check:before {
	content: '\e96d';
}
.icon-icon-light-sheild:before {
	content: '\e96e';
}
.icon-icon-light-shopping-cart:before {
	content: '\e96f';
}
.icon-icon-light-star-half:before {
	content: '\e970';
}
.icon-icon-light-star:before {
	content: '\e971';
}
.icon-icon-light-stop-sign:before {
	content: '\e972';
}
.icon-icon-light-stopwatch:before {
	content: '\e973';
}
.icon-icon-light-task-list:before {
	content: '\e974';
}
.icon-icon-light-trash-alt:before {
	content: '\e975';
}
.icon-icon-light-trash:before {
	content: '\e976';
	position: relative;
	left: 2px;
}
.icon-icon-light-triangle:before {
	content: '\e977';
}
.icon-icon-light-undo:before {
	content: '\e978';
}
.icon-icon-light-upload:before {
	content: '\e979';
}
.icon-icon-light-user-minus:before {
	content: '\e97a';
}
.icon-icon-light-user-plus:before {
	content: '\e97b';
}
.icon-icon-light-user-circle:before {
	content: '\e97c';
}
.icon-icon-light-user-remove:before {
	content: '\e97d';
}
.icon-icon-light-user:before {
	content: '\e97e';
}
.icon-icon-light-users:before {
	content: '\e97f';
}
.icon-icon-light-watch:before {
	content: '\e980';
}
.icon-icon-light-wifi:before {
	content: '\e981';
}
.icon-icon-light-write:before {
	content: '\e982';
}
.icon-icons-chevrons-square-left-light:before {
	content: '\e983';
}
.icon-icons-chevrons-square-right-light:before {
	content: '\e984';
}
.icon-paper-plane:before {
	content: '\e985';
}
.icon-Path_2498:before {
	content: '\e986';
}
.icon-Path_2645:before {
	content: '\e987';
}
